---
import Card from "../components/Card.astro";
---

<section
  class="bg-white py-28 px-5 flex flex-col justify-center items-center gap-y-24"
>
  <h1 class="text-5xl text-center font-extrabold">¿EN QUÉ CREÉMOS?</h1>
  <div class="lg:flex xl:gap-x-10 gap-x-5">
    <Card
      titleCard={"DIOS"}
      descriptionCard={"Reconocemos que hay un solo Dios vivo y verdadero, que existe en tres personas: Padre, Jesucristo Hijo y Espíritu Santo, pero sin división de naturaleza, esencia o ser."}
    />
    <Card
      titleCard={"ORACIÓN"}
      descriptionCard={"Buscaremos intencionalmente reservar momentos específicos para la oración privada, familiar y corporativa."}
    />
    <Card
      titleCard={"FAMILIA"}
      descriptionCard={"Alentamos compromisos de por vida con el matrimonio entre un hombre y una mujer y apoyamos la educación espiritual continua de la familia."}
    />
  </div>
</section>
