---
import CardHorario from "../components/cardHorario.astro";
import imageFamily from "../assets/familyexample.jpg";
import imageFamily2 from "../assets/familyexample2.jpg";
---

<div
  class="flex flex-col justify-center items-center text-[#141414] py-20 px-5"
>
  <h1 class="md:text-[45px] text-[35px] text-center font-extrabold mb-[31px]">
    Horarios y reuniones
  </h1>
  <h3 class="lg:text-[21px] text-[18px] mb-[75px] text-center font-semibold">
    ¡Llega temprano para que no te pierdas de nada!
  </h3>
  <div class="lg:flex lg:gap-x-[30px]">
    <CardHorario
      imageExample={imageFamily}
      titleCard={"Reunión general"}
      horaCard={"00:00 - 00:00"}
      direccionCard={"C. Torres de la Alameda, 2, 28806 Alcalá de Henares, Madrid"}
    />
    <CardHorario
      imageExample={imageFamily2}
      titleCard={"Escuela bíblica"}
      horaCard={"00:00 - 00:00"}
      direccionCard={"C. Torres de la Alameda, 2, 28806 Alcalá de Henares, Madrid"}
    />
  </div>
</div>
