---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Iglesia Casa de Vida">
  <Header />
  <main
    class="flex flex-col justify-center items-center bg-black w-full h-full text-white"
  >
    <div class="">
      <h1 class="bg-orange-800 text-5xl font-bold flex justify-center">
        Videos
      </h1>
      <h2>is comming...</h2>
    </div>
  </main>
</Layout>
