---
import { Image } from "astro:assets";

interface Props {
  titleCard: String;
  descriptionCard: String;
  imageImport: ImageMetadata;
}

const { titleCard, descriptionCard, imageImport } = Astro.props;
---

<div
  class="bg-[#0059AD] xl:w-96 w-[300px] xl:h-96 h-[300px] px-5 py-10 text-white flex flex-col items-center justify-center rounded-2xl lg:mb-0 mb-5 relative"
>
  <Image
    src={imageImport}
    alt=""
    class="absolute w-80 opacity-5"
    style="z-index: 1;"
  />
  <h1 class="xl:text-5xl text-3xl font-bold mb-9 z-10">{titleCard}</h1>
  <p class="text-center xl:text-sm text-xs z-10">
    {descriptionCard}
  </p>
</div>
