---
interface Props {
  titleCard: String;
  descriptionCard: String;
}

const { titleCard, descriptionCard } = Astro.props;
---

<div
  class="bg-black xl:w-96 w-[300px] xl:h-96 h-[300px] px-5 py-10 text-white flex flex-col items-start justify-center rounded-2xl lg:mb-0 mb-5"
>
  <h1 class="xl:text-5xl text-3xl font-bold">{titleCard}</h1>
  <p class="text-justify xl:text-sm text-xs">
    {descriptionCard}
  </p>
</div>
