---
import { Image } from "astro:assets";
import iglesiaIconWhite from "../assets/logo-transparente.png";
import mapsIcon from "../assets/maps.svg";
import emailIcon from "../assets/email.svg";

interface Props {}

const {} = Astro.props;
---

<footer
  class="bg-[#004688] lg:h-[370px] lg:flex lg:justify-between items-center py-14 sm:px-28 px-12 text-white"
>
  <div
    class="flex flex-col lg:items-start items-center lg:text-start text-center lg:pb-0 pb-16"
  >
    <Image src={iglesiaIconWhite} alt="" class="w-48 mb-5" />
    <p class="sm:text-[15px] text-[11px] font-normal max-w-xs">
      Casa de Vida es una iglesia donde amamos ver vidas cambiadas por Jesús.
      Creemos que su Palabra hace la obra y nos encantaría que esta sea una
      realidad en tu vida.
    </p>
  </div>

  <div
    class="flex flex-col lg:items-start items-center lg:text-start text-center mb-5"
  >
    <h1 class="font-bold text-xl mb-3">Contacto</h1>
    <div class="flex items-center justify-center mb-3">
      <Image src={mapsIcon} alt="maps-icon-footer" class="w-8" />
      <h3 class="sm:text-[15px] text-[12px] font-normal ml-1">
        informes@iacym-casadevida.com
      </h3>
    </div>
    <div class="flex items-center justify-center">
      <Image src={emailIcon} alt="email-icon-footer" class="w-8" />
      <h3 class="sm:text-[15px] text-[12px] font-normal ml-1">
        informes@iacym-casadevida.com
      </h3>
    </div>
  </div>
</footer>
